<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="com.nxp.jennic.eclipse.bsn.intro.BasicIntro"
            id="com.nxp.jennic.eclipse.bsn.intro.stack">
      </intro>
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.nxp.jennic.eclipse.bsn.intro.custom">
      </intro>
      <introProductBinding
            introId="com.nxp.jennic.eclipse.bsn.intro.custom"
            productId="com.nxp.bsn.branding.bstudio_nxp">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="org.eclipse.intro.minimal.config"
            introId="com.nxp.jennic.eclipse.bsn.intro.custom">
         <presentation
               home-page-id="root" standby-page-id="standby">
            <implementation
                  kind="html">
            </implementation>
         </presentation>
      </config>
   </extension>
</plugin>
